@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 56 100% 8%;
    --foreground: 46 45% 91%;

    --card: 56 100% 8%;
    --card-foreground: 46 45% 91%;

    --popover: 56 100% 8%;
    --popover-foreground: 46 45% 91%;

    --primary: 84 62% 54%;
    --primary-foreground: 34 60% 12%;

    --secondary: 56 100% 8%;
    --secondary-foreground: 46 45% 91%;

    --muted: 56 100% 8%;
    --muted-foreground: 46 45% 80%;

    --accent: 84 62% 54%;
    --accent-foreground: 34 60% 12%;

    --destructive: 0 72% 48%;
    --destructive-foreground: 0 0% 100%;

    --border: 56 40% 18%;
    --input: 56 40% 18%;
    --ring: 84 62% 54%;

    --radius: 1rem;

    --sidebar-background: 56 100% 8%;
    --sidebar-foreground: 46 45% 91%;
    --sidebar-primary: 84 62% 54%;
    --sidebar-primary-foreground: 34 60% 12%;
    --sidebar-accent: 84 62% 54%;
    --sidebar-accent-foreground: 34 60% 12%;
    --sidebar-border: 32 35% 23%;
    --sidebar-ring: 84 62% 54%;
    --hero-bg: url("https://www.visitportugal.com/sites/www.visitportugal.com/files/styles/encontre_destinos_destaque_galeria/public/mediateca/Fun_Parque.jpg?itok=mdMyx38p");
    --gradient-primary: linear-gradient(180deg, hsla(56, 100%, 8%, 0.55), hsla(56, 100%, 8%, 0.35));
    --gradient-bg: linear-gradient(180deg, hsla(56, 100%, 8%, 0.55), hsla(56, 100%, 8%, 0.35));
  }

  .dark {
    --background: 24 30% 10%;
    --foreground: 46 40% 90%;

    --card: 24 30% 10%;
    --card-foreground: 46 40% 90%;

    --popover: 24 30% 10%;
    --popover-foreground: 46 40% 90%;

    --primary: 84 62% 50%;
    --primary-foreground: 34 60% 12%;

    --secondary: 24 30% 10%;
    --secondary-foreground: 46 40% 90%;

    --muted: 24 30% 10%;
    --muted-foreground: 46 40% 78%;

    --accent: 84 62% 50%;
    --accent-foreground: 34 60% 12%;

    --destructive: 0 72% 48%;
    --destructive-foreground: 0 0% 100%;

    --border: 24 34% 18%;
    --input: 24 34% 18%;
    --ring: 84 62% 50%;

    --gradient-primary: linear-gradient(180deg, hsl(24, 30%, 10%), hsl(24, 30%, 10%));
    --gradient-bg: linear-gradient(180deg, hsl(24, 30%, 10%), hsl(24, 30%, 10%));

    --sidebar-background: 24 30% 10%;
    --sidebar-foreground: 46 40% 90%;
    --sidebar-primary: 84 62% 50%;
    --sidebar-primary-foreground: 34 60% 12%;
    --sidebar-accent: 84 62% 50%;
    --sidebar-accent-foreground: 34 60% 12%;
    --sidebar-border: 24 34% 18%;
    --sidebar-ring: 84 62% 50%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
